body{
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(170deg, #292734 -9.44%, #000 100%);
  color: white;
  height: auto;
  margin: 0 15rem;
    overflow-x: hidden;
}

/* Navigation */

/* Navigation-head */

.navigation{
  /* margin: 4.81rem 0; */
  align-items: center;
  /* position: fixed; */

}

.head{
  margin-top: 4.81rem;
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  transition: position 0.3s ease-in-out;
  box-sizing: border-box;
}
.head.fixed{
  align-items: center;
  margin-top: 0;
  position: fixed;
  padding: .5rem 2rem;
  top: 1rem;
  left: 5rem;
  right: 5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: hsla(0,0%,100%,.15);
  border-radius: 2rem;
  backdrop-filter: blur(5px);
  z-index: 10;
}

.nav-items{
  display: flex;
  gap: 3rem;
  flex: 1;
}

.logo{
  flex: 1;
  display: flex;
  justify-content: center;
}

.n{
  text-align: justify;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01688rem;
  text-decoration: none;
  color: white;
}

.n:hover{
  cursor: crosshair;
  opacity: .6;
}
.links:hover{
  cursor: crosshair;
  opacity: .6;
}

.person-res{
  display: none;
}


.logo{
  margin-left: auto;
  margin-right: auto;
}

.nav-items-right-side{
  display: flex;
  gap: 3rem;
  align-items: center;
  flex: 1;
  justify-content: end;
}

.person-con{
  display: flex;
  width: 3.125rem;
  height: 3.125rem;
  padding: 0.625rem;
  margin-right: 1.3rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.125rem;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.05);
}

/* Navigation-bottom */

.bottom{
  margin-top: 12.56rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* width: max(100%, 30rem); */
  
}

.for-width{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-1{
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 105.9%; 
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  flex: 1;
  text-align: center;
}

.text-2{
  font-size: 2.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 105.9%; 
  letter-spacing: 0.11875rem;
  text-transform: uppercase;
  text-align: center;
}

.text-3{
  color: #C1D7EC;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem;
  text-align: center;
}

.text-4-con{
  display: flex;
  width: 19rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background: var(--button, linear-gradient(96deg, rgba(5, 0, 255, 0.80) -113.31%, rgba(68, 64, 255, 0.80) 48.74%, rgba(5, 0, 255, 0.80) 210.18%));
  margin: 3rem 0;
}

.text-4{
  color: #ECE6E1;
  text-align: justify;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01688rem;
  text-transform: uppercase;
  margin-right: 1rem;
}

.text-4 svg{
  width: 5.4375rem;
  flex-shrink: 0;
  stroke: #FFF;
}

.purple{
  opacity: 0.8;
  color: #BFB0FF;
}

.web-logo{
  object-fit: cover;
  flex: 1;
  max-width: 100%;
  height: auto;
}




/* Services */

.services{
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
  align-items: center;
  width: 100%;
}

.for-responsive{
  display: none;
}
.for-head{
  display: none;
}

/* services-head */
.ser-head{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.serv-vec{
  padding-left: 1rem;
}
.ser-title{
  display: flex;
  align-items: center;
}
.ser-title p{
  color: var(--Secondary, #D6D6D6);
  text-align: center;

  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.375rem; /* 105.556% */
}




/* services-bottom */



.text-with-photos{
  display: flex;
  align-items: center;
  /* justify-content: start; */
  gap: 3rem;
  flex: 1;
  position: relative;
}

.ser-texts{
  width: 33%;
  
}

.ser-num-title{
font-size: 1.125rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.ser-nums{
  color: rgba(104, 180, 255, 0.75);
  padding-left: 1rem;
  padding-right: .5rem;
}

.ser-text{
  color: #C1D7EC;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.square-1{
  width: 13%;
  height: 1.75694rem;
  transform: rotate(-32.914deg);
  flex-shrink: 0;
  position: absolute;
  left: 43%;
  bottom: 0rem;
  z-index: 3;
}

.group-1{
  transform: rotate(312deg);
}
.group-2{
  transform: rotate(45deg);

}

.square-2{
  width: 100%;
  height: 2.19619rem;
  flex-shrink: 1;
  background: linear-gradient(270deg, #9DDCFA 0%, rgba(157, 220, 250, 0.50) 34.29%, rgba(157, 220, 250, 0.20) 53.36%, rgba(157, 220, 250, 0.10) 64.71%, rgba(157, 220, 250, 0.05) 73.15%, rgba(157, 220, 250, 0.00) 87.12%);
  position: absolute;
  left: -40%;
  z-index: 4;
}

.square-3{
  width: 100%;
  height: 2.19619rem;
  flex-shrink: 1;
  background: linear-gradient(90deg, #F31F46 0%, #1110152a 100%);
  position: absolute;
  right: -40%;
  overflow: hidden;
  z-index: 4;
}

.ser-title{
  font-size: 1.125rem;
}

.ser-text{
  font-size: 1rem;
}

.ser-img{
  /* background-color: black; */
  flex: 1;
  display: flex;
  
}

.ser-img img{
  width: 11.42019rem;
  height: 11.42019rem;
  z-index: 4;
}





/* Projects */


/* Projects-head */

.projects-head{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.projects-title{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;

  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.vector{
  width: 1.125rem;
  height: 1.125rem;
}

.projects-text-con{
  flex: 1;
  margin: 3rem 0;
  width: 50%;
  align-items: center;
}

.projects-text{
  color: #D0E0EF;

  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.proj-span{
  color: #D0E0EF;
  text-align: center;

  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


/* .projects-bottom */

.projects-line-with-dot{
  width: 89.375rem;
  height: 0.1rem;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: rgba(255, 255, 255, 0.20);
}

.projects-flex{
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
  gap: 5rem;
  box-shadow: 0rem .08rem 0rem rgba(255, 255, 255, 0.20);
  align-items: center;
}


.proj-left{
  /* width: 20rem; */
  flex: 1;
}

.projects-text-2{
  text-align: justify;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875rem;
}

.projects-text-3{
  color: rgba(208, 224, 239, 0.80);
  text-align: justify;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; 
  letter-spacing: 0.01625rem;
  padding-bottom: 2rem;
}

.proj-right{
  flex: 1;
}

.proj-right img{
  object-fit: cover;
  flex: 1;
  max-width: 100%;
  height: auto;
  
}


/* News */

.news{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
  width: 100%;
  /* background-color: #292734; */
}

/* news head */

.news-head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    gap: 1rem;
    flex: 1;
}



.news-text-1{
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


/* news-bottom */

.news-bottom{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  /* background-color: rgb(57, 28, 28); */
  position: relative;
}

.news-text-2{
font-size: 1.625rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.02438rem;
}
.news-text-3{
  color: rgba(255, 255, 255, 0.60);
font-size: 1.125rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.01688rem;
}
.news-text-4{
  color: rgba(255, 255, 255, 0.90);
text-align: justify;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.news-text-5{
  color: #ECE6E1;
  text-align: justify;

  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01875rem;
  text-transform: uppercase;
  
}

.news-button{
  background: #272431;
  display: inline-flex;
  padding: 1.25rem 3.625rem 1.25rem 4.4375rem;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  border-radius: 1rem;
}


.news-texts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
  flex: 0 0 60%;
  transform: translateX(-6.5rem);
}

.news-img-con{
  z-index: 0;
  flex: 0 0 60%;
  transform: translateX(4.5rem);
  position: relative;
}

.news-img{
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.gradient1{
  width: 100%;
  height: 100%;
  background: linear-gradient(266deg, #000 3.01%, rgba(40, 38, 68, 0.00) 71.79%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
.gradient2{
  width: 100%;
  height: 100%;
  background: linear-gradient(266deg, #000 3.01%, rgba(40, 38, 68, 0.00) 71.79%);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 7;
  transform: rotate(180deg);
}


/* footer  */

/* footer head  */

.footer-head{
  margin: 10rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  justify-content: space-around;
  align-items: center;
}

.footer-head div img{
  object-fit: cover;
  flex: 1;
  max-width: 100%;
  height: auto;
}

/* footer bottom  */

.footer-bottom{
  display: flex;
  justify-content: center;
}

.footer-bottom-logo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.logos-flex{
  display: flex;
}

.logos-flex img{
  display: inline-block;
  margin-top: 2rem;
  margin-right: 3rem;
  object-fit: cover;
  /* flex: 1;
  display: flex;
  max-width: 100%;
  height: auto; */
}

.footer-text{
  color: #98A5B2;
text-align: justify;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}

.footer-social{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.footer-text-info{
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  flex: 1;
  
}

.line-2{
  display: none;
}

.footer-bottom-info{
  /* display: flex;
  justify-content: center; */
}


.media-con{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}


.end{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text-info-left{
  flex: 1;
}
.footer-text-info-right{
  flex: 1;
}
.info-span{
  color: #D7E0E8;
text-align: justify;
font-size: 1.125rem;
font-style: normal;
font-weight: 700;
line-height: 1.875rem; 
}

.footer-text-info-right{
  color: #D7E0E8;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}

.footer-head img,
.footer-web-logos img,
.logos-flex img,
.media-con img, 
.line img {
  max-width: 100%;
  height: auto;
}


@media (width >= 1921px){
  .square-1{
    border-radius: 100%;
  }
  body{
    margin: 0 25rem;
  }
}

/* @media (width <= 1110){
  .n{
    display: none;
  }

  .person-res{
    display: block;
  }
} */

@media (max-width: 1500px) {
  /* Services  */

  .square-2{
    width: 95%;
  }
  .square-3{
    width: 95%;
  }

  .group-1{
    transform: rotate(305deg);
  }
  .group-2{
    transform: rotate(52deg);
  }

}
@media (max-width: 1310px) {

  body{
    margin: 0 10rem;
  }

}

@media (max-width: 1220px) {
/* Services  */
  .group-1{
    transform: rotate(300deg);
  }
  .group-2{
    transform: rotate(57deg);
  }
}

@media (max-width: 1110px) {

  body{
    margin: 0 5rem;
  }

  /* Navigation */
  .n {
    display: none;
  }

  .person-res {
    display: block;
  }

  .person-con{
    display: none;
  }

  /* Services  */
  .group-1{
    transform: rotate(270deg);
  }
  .group-2{
    transform: rotate(90deg);
  }

  /* Projexts  */

  .projects-text-con{
    width: 70%;
  }

  .projects-text{
    font-size: 1rem;
  }
  .proj-span{
    font-size: 1.125rem;
  }

  

  .projects-text-2{
    font-size: 1.5rem;
    line-height: normal;
  }
  .projects-text-3{
    font-size: 1rem;
    letter-spacing: normal;
    line-height: normal;
    padding-bottom: 1rem;
  }

  .projects-flex{
    gap: 2rem;
  }

}

@media (max-width: 950px) {
  .ser-bottom .text-with-photos:nth-child(odd) {
    grid-row: auto; 
  }

  /* Services  */
  .square-1, .square-2, .square-3{
    display: none;
  }
  /* ////////////////////////// */
  .services{
    display: flex;
    flex-direction: column;
    margin: 5rem 0;
    align-items: center;
    width: 100%;
  }
  
  .for-responsive{
    display: none;
  }
  
  .ser-head-2{
    display: block;
  }
  /* services-head */
  .ser-head{
    position: absolute;
  }
  
  .serv-vec{
    padding-left: 1rem;
  }
  .ser-title{
    display: flex;
    align-items: center;
  }
  .ser-title p{
    color: var(--Secondary, #D6D6D6);
    text-align: center;
  
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.375rem; /* 105.556% */
  }
  
  
  
  
  /* services-bottom */
  
  
  
  .text-with-photos{
    display: flex;
    align-items: center;
    /* justify-content: start; */
    gap: 3rem;
    flex: 1;
    position: relative;
    height: fit-content;
  }

  .group-83{
    height: auto;
    width: auto;
  }
  
  .ser-texts{
    width: 100%;
    
  }
  
  .ser-nums{
    padding: 0;
  }
  
  
  
  
  
  
/* //////////// */

  .text-with-photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex: 1;
    position: relative;
    /* background-color: rgb(74, 46, 46); */
  }

  .ser-head{
    display: none;
  }

  .for-responsive{
    display: block;
  }
  
  .ser-bottom{
    display: grid;
      grid-template-columns: 50% 50%;
      /* grid-gap: 20px;  */
    position: relative;
  }

  .ser-bottom .text-with-photos:nth-of-type(2n){
    margin-top: 50%;
    /* outline: 1rem solid red; */
  }

  .for-grid{
    background-color: aqua;
    gap: 2rem;
  }


  .ser-img{
    order: 1;
  }
  .ser-texts{
    order: 2;
    text-align: center;
  }


  /* footer  */

  .footer-head{
    gap: 0em;
    justify-content: space-between;
    align-items: center;
    
    /* flex-shrink: 1; */
  }
  
 
  .footer-head div img{
    max-width: 60%;
   
  }

.footer-web-logos img,
.logos-flex img,
.media-con img {
  max-width: 50%; 
  height: auto;
}

}

@media (max-width: 800px) {

  body{
    margin: 0 2rem;
  }

  /* navigation  */
  .person-res{
    width: 2.0625rem;
    height: 2.0625rem;
  }

  .logo img{
    width: 1.9375rem;
    height: 2.875rem;
  }

  .menu{
    width: 2.3125rem;
    height: 1.1875rem;  
  }

  /* Services  */
  .ser-img img{
    width: 5.17888rem;
    height: 5.17888rem;
  }

  .ser-num-title{
    font-size: 1.125rem;
  }

  .ser-text{
    font-size: 1rem;
  }

  /* news */

  .news-text-1{
    font-size: 1.5rem;
  }
  .news-text-2{
    font-size: 1.125rem;
    letter-spacing: normal;
  }
  .news-text-3{
    font-size: 1rem;
    letter-spacing: normal;
  }

  .news-text-4{
    font-size: 1rem;
  }
  .news-text-5{
    font-size: 1rem;
    letter-spacing: normal;
  }


  /* Footer  */

  .footer-bottom{
    flex-direction: column;
  }

  .footer-text-info{
    display: none;
  }

  .footer-bottom-info{
    order: 1;
    margin: 8rem 0 3rem 0;
  }

  .footer-bottom-logo{
    order: 2;
  }

  .logos-flex{
    align-self: flex-start;
    flex: 1;
  }

  .webdoors-logo{
    display: none;
  }

  .line{
    display: none;
  }

  .line-2{
    display: block;
    align-self: flex-end;
  }

  .media-con{
    margin-bottom: 1rem;
  }
  .footer-text{
    font-size: 1rem;
  }

}

@media (max-width: 745px) {
  /* footer */
  .footer-head{
    display: none;
}

}


@media (max-width: 580px) {

  /* Navigation  */

  .head.fixed{margin-top: 0;
    position: fixed;
    padding: .5rem 1rem;
    top: 1rem;
    left: 0rem;
    right: 0rem;
  }

  .text-1{
    font-size: 1.05rem;
  }
  .text-2{
    font-size: 2.175rem;
  }
  .text-3{
    font-size: 1rem;
  }
  .text-4{
    font-size: .8rem;
  }

  
  /* services  */

  .ser-title p{
    font-size: 1.5rem;
  }

  .ser-num-title{
    font-size: 1rem;
  }

  .ser-text{
    font-size: .9rem;
  }

  /* projects  */

  .projects-title{
    font-size: 1.5rem;
  }

  .projects-text{
    font-size: .8rem;
  }
  .proj-span{
    font-size: 1rem;
  }

  .projects-text-2{
    font-size: 1.1rem;
  }
  .projects-text-3{
    font-size: .8rem;
  }

  
  /* news */

  .news-text-1{
    font-size: 1.5rem;
  }
  .news-line{
    width: 30%;
    /* background-color: rebeccapurple ; */
    height: .7rem;
  }
  .news-text-2{
    font-size: 1.1rem;
    letter-spacing: normal;
  }
  .news-text-3{
    font-size: .9rem;
    letter-spacing: normal;
  }

  .news-text-4{
    font-size: .8rem;
  }
  .news-text-5{
    font-size: .9rem;
    letter-spacing: normal;
  }

  /* footer  */

  .line{
    width: 70%;
  }
}

@media (max-width: 450px) {
  .head.fixed{
    padding: .5rem 1rem;
    top: 1rem;
    left: 1rem;
    right: 1rem;
  }

  .person-res{
    width: 2.0625rem;
    height: 2.0625rem;
  }

  .logo img{
    width: 1.55844rem;
  height: 2.3125rem;
  }

  .menu{
    width: 2.3125rem;
    height: 1.1875rem;  
  }
}